[Unit]
Description=wg0 home check
After=network.target wg-quick@wg0.service

[Service]
Type=simple
ExecStart=/bin/bash /root/wg0HomeDisable.sh

[Install]
WantedBy=multi-user.target
